
a{
  text-decoration: none;
  color: white;
}


.topbar {
  position: relative;
  width: 100%;
  color: white;
  background-color: blue;
  height: auto;
  align-items: center; 
}

.top-topbar{
  display: flex;
  align-items: center;
}

.sub-topbar {
  background-color: rgb(110, 110, 13);
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.sub-topbar div {
    cursor: pointer;
    width: auto;
}
     
.menu-btn {
  top: 10px;
  border: none;
  border-radius :20px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 3px;
  z-index: 2000;
}

.overlay {
  position: fixed;          /* Stays in place when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent effect */
  display: none;             /* Hidden by default */
  z-index: 998;               /* Just under your sidebar */
}

.overlay.show {
  display: block; 
  /* Visible when active */
}

.logo {
  min-width: 150px;  
}

.logo img {
  height: 40px;
}

.delivery {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-width: 150px;
  
}

.small-text {
  font-size: 12px;
  color: #ccc;
}

.big-text {
  font-size: 14px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  flex: 1;
  position: relative;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 15px;  
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  background-color: #febd69;
  cursor: pointer;
  font-size: 16px;
  right: 0px;
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 15px;
}
.sign-in, .returns-orders, .cart {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 115px;
  flex: 1;
  align-items: center;
}

.top-bar-right {
  background-color: red;
  display: flex;
  right: 0;
}

.top-bar-right1 {
  background-color: red;
  display: flex;
  position: absolute;
  right: 0;
  display: none;
}

.sub-topbaritems ul {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between ;
  display: none;
}

@media (max-device-width: 768px){
  .top-bar-right1{
    background-color: red;
    display: flex;
    position: absolute;
    right: 0;
  }
}